services:
  app:
    build:
      dockerfile: ./docker-build/Dockerfile
      context: ./
    environment:
      APP_PORT: 8000
      PROJECT_NAME: fastapi-aplications
      VERSION: "0.1.0"
      DESCRIPTION: "FastAPI starter app"
      DEBUG: "true"
      CORS_ALLOW_CREDENTIALS: "true"
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@pg:5432/app
      SETTINGS_ENV_FILE: /app/.env.docker
    ports:
      - "8080:8000"
    depends_on:
      pg:
        condition: service_healthy

  pg:
    image: postgres:17.0-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 5s
      timeout: 3s
      retries: 3

volumes:
  pgdata:
